# Default ignored files
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/

*.iml
*.log.*


target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# sbteclipse plugin
.target

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.gradle
/build/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/